<!DOCTYPE html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <meta name="google-signin-scope" content="openid">
<meta name="google-signin-client_id" content="538627817491-qjte6oggoghs3i9vngom39umujofhjav.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
<div class="background-image"></div>
<div id='container'>
  <div class='headers'>
    <h1 class='header'>Welcome to Horcrux</h1>
    <h2 class='header'>Securely back up your files over multiple free services</h2>
    <div class="g-signin2 centered" data-onsuccess="onSignIn" data-theme="dark"></div>
    
  </div>
  <a href="#" onclick="signOut();">Sign out</a>
</div>
<script>
/*function onSuccess(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  //console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
  var data = {
        id: profile.getId(), 
        name: profile.getName(),
        email: profile.getEmail()
      }
      console.log("Posting data: ", data)
  $.post("./auth/google",data,function(data_res){  
  console.log(data_res)      
            if(data_res==='done')           
            {
                window.location.href="./profile/" + data.id;
            }
        });
}
function onFailure(error){
  console.log(error)
}*/
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log("Name: " + profile.getName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
    var data = {
        id: profile.getId(), 
        name: profile.getName(),
        email: profile.getEmail(),
        token: id_token
      }
      console.log("Posting data: ", data)
  $.post("./auth/google",data,function(data_res){  
  console.log(data_res)      
        if(data_res==='done')           
            {
                window.location.href="./profile/" + data.id;
            }
        });
  };
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>